{{!-- views/partials/footer.hbs --}}
<footer class="py-4 mt-5 border-top text-center text-muted">
    <div class="container">
        <small>© {{year}} Solución 202 — Todos los derechos reservados al Equipo</small>
    </div>
</footer>